h1 {
    color: darkblue;
    font-family: Impact;
}

.fancy {
    font-family: Chalkduster;
    font-size: 50px;
    background-image: radial-gradient(circle at center, red 0, blue, green 250%)
}

img {
    width: 300px;
    height: 250px;
}

a {
    color: greenyellow;
}